workflows/job-apply.json
{
  "name": "job_apply_pipeline_hybrid",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -980,
        0
      ],
      "id": "d4e5f6a7-b819-4c20-92cd-4567defa8902",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa11bb22-cc33-44dd-8855-66ff77aa88bb",
              "name": "spreadsheetId",
              "value": "1QCRWbi-OQvlWemGdLs5O21g7nwO9_6dMiZZLBXTNtPI",
              "type": "string"
            },
            {
              "id": "bb22cc33-dd44-55ee-9966-77ff88aa99cc",
              "name": "sheetName",
              "value": "JobPipeline",
              "type": "string"
            },
            {
              "id": "cc33dd44-ee55-66ff-a077-88aa99bb00cc",
              "name": "rtrvrApplyUrl",
              "value": "REPLACE_ME",
              "type": "string"
            },
            {
              "id": "dd44ee55-ff66-77aa-b188-99bb00cc11dd",
              "name": "personalEmail",
              "value": "REPLACE_ME",
              "type": "string"
            },
            {
              "id": "ee55ff66-aa77-bb88-c199-dd00ee11ff22",
              "name": "personalPhone",
              "value": "REPLACE_ME",
              "type": "string"
            },
            {
              "id": "ff66aa77-bb88-cc99-dd00-ee11ff22aa33",
              "name": "personalLinkedIn",
              "value": "https://www.linkedin.com/in/REPLACE_ME/",
              "type": "string"
            },
            {
              "id": "0aa77bb88-cc99-dd00-ee11-ff22aa33bb44",
              "name": "personalGithub",
              "value": "https://github.com/REPLACE_ME",
              "type": "string"
            },
            {
              "id": "11bb22cc-33dd-44ee-9550-66ff77aa88bb",
              "name": "greenhouseAllowlist",
              "value": "greenhouse.io,my.greenhouse.io",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -780,
        0
      ],
      "id": "e1f2a3b4-c5d6-47a8-90bc-1d2e3f4a5b6c",
      "name": "Job Apply Config"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": "={{ $('Job Apply Config').item.json.spreadsheetId }}",
        "sheetName": "={{ $('Job Apply Config').item.json.sheetName }}",
        "range": "",
        "returnAll": true
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -540,
        0
      ],
      "id": "f2a3b4c5-d6e7-48a9-90bc-2e3f4a5b6c7d",
      "name": "Read JobPipeline rows",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7OE0ZCwn0dn1HokX",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "aa0011bb-22cc-33dd-44ee-55ff66778899",
              "leftValue": "={{ $json.application_status }}",
              "rightValue": "fit_true_queued",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "bb0022cc-33dd-44ee-55ff-6677889900aa",
              "leftValue": "={{ $json.application_status }}",
              "rightValue": "approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -300,
        0
      ],
      "id": "aa0bb1cc-22dd-33ee-44ff-5566778899aa",
      "name": "Only fit_true_queued or approved"
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -60,
        0
      ],
      "id": "cc11dd22-ee33-44ff-88aa-99bb00cc11dd",
      "name": "Split in Batches"
    },
    {
      "parameters": {
        "jsCode": "function domainOf(url) {\n  try {\n    const u = new URL(url);\n    return u.hostname.toLowerCase();\n  } catch {\n    return '';\n  }\n}\n\nconst j = item.json;\nconst applyUrl = j.apply_url || j.job_url || '';\nconst host = domainOf(applyUrl);\n\nconst allowlistCsv = $('Job Apply Config').item.json.greenhouseAllowlist || '';\nconst allowlist = allowlistCsv.split(',').map(s => s.trim()).filter(Boolean);\nconst isGreenhouse = allowlist.some(d => host.includes(d));\n\n// Human-approved rows should be submitted even if domain matching fails.\nconst wantsSubmit = String(j.application_status || '').toLowerCase() === 'approved' || isGreenhouse;\n\nconst ats_type = isGreenhouse ? 'greenhouse' : 'unknown';\nconst application_mode = wantsSubmit && isGreenhouse ? 'auto_submit' : 'needs_review';\n\nconst action = wantsSubmit ? 'submit' : 'draft';\n\nreturn [{\n  json: {\n    ...j,\n    ats_type,\n    application_mode,\n    action\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        0
      ],
      "id": "dd22ee33-ff44-55aa-88bb-00cc11dd22ee",
      "name": "Decide submit vs draft"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1100aa11-bb22-cc33-dd44-ee55ff66aa77",
              "leftValue": "={{ $json.action }}",
              "rightValue": "submit",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        360,
        -160
      ],
      "id": "2233bb44-cc55-dd66-ee77-ff88aa99bb00",
      "name": "Action == submit"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Job Apply Config').item.json.rtrvrApplyUrl }}",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"job_hash\": \"{{$json.job_hash}}\",\n  \"apply_url\": \"{{$json.apply_url}}\",\n  \"ats_type\": \"{{$json.ats_type}}\",\n  \"mode\": \"submit\",\n  \"resume_doc_url\": \"{{$json.resume_doc_url}}\",\n  \"cover_letter_url\": \"{{$json.cover_letter_url}}\",\n  \"applicant\": {\n    \"email\": \"{{$('Job Apply Config').item.json.personalEmail}}\",\n    \"phone\": \"{{$('Job Apply Config').item.json.personalPhone}}\",\n    \"linkedin\": \"{{$('Job Apply Config').item.json.personalLinkedIn}}\",\n    \"github\": \"{{$('Job Apply Config').item.json.personalGithub}}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        580,
        -160
      ],
      "id": "3344cc55-dd66-ee77-ff88-aa99bb00cc11",
      "name": "rtrvr.ai submit (placeholder)"
    },
    {
      "parameters": {
        "jsCode": "const decide = $('Decide submit vs draft').item.json;\nconst resp = item.json;\n\nconst ok = resp?.success === true || resp?.status === 'submitted' || resp?.application_status === 'submitted' || resp?.submitted === true;\n\nconst missing = resp?.missing_fields || resp?.missingFields || [];\nconst missingStr = Array.isArray(missing) ? missing.join(',') : (missing ? String(missing) : '');\n\nconst errorLast = ok ? '' : (resp?.error || resp?.message || resp?.detail || 'rtrvr submit failed');\n\nconst lastAttemptAt = new Date().toISOString();\n\nreturn [\n  {\n    json: {\n      job_hash: decide.job_hash,\n      job_source: decide.job_source,\n      job_url: decide.job_url,\n      apply_url: decide.apply_url,\n      company: decide.company,\n      title: decide.title,\n      location: decide.location,\n      posted_at: decide.posted_at,\n      ats_type: decide.ats_type,\n      application_mode: decide.application_mode,\n      fit_verdict: decide.fit_verdict,\n      fit_reason: decide.fit_reason,\n      fit_score: decide.fit_score,\n      resume_doc_url: decide.resume_doc_url,\n      cover_letter_url: decide.cover_letter_url,\n      application_status: ok ? 'submitted' : 'failed',\n      missing_fields: ok ? missingStr : missingStr || 'submit_failed',\n      approved_by: '',\n      last_attempt_at: lastAttemptAt,\n      attempt_count: (Number(decide.attempt_count || 0) || 0) + 1,\n      error_last: errorLast,\n      created_at: decide.created_at || lastAttemptAt,\n      updated_at: lastAttemptAt\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        -160
      ],
      "id": "4455dd66-ee77-ff88-aa99-bb00cc11dd22",
      "name": "Finalize submit result"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7700aa11-bb22-cc33-dd44-ee55ff66aa77",
              "leftValue": "={{ $json.action }}",
              "rightValue": "draft",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        360,
        160
      ],
      "id": "6600bb11-cc22-dd33-ee44-ff55aa66bb77",
      "name": "Action == draft"
    },
    {
      "parameters": {
        "jsCode": "const decide = item.json;\nconst now = new Date().toISOString();\n\nreturn [\n  {\n    json: {\n      job_hash: decide.job_hash,\n      job_source: decide.job_source,\n      job_url: decide.job_url,\n      apply_url: decide.apply_url,\n      company: decide.company,\n      title: decide.title,\n      location: decide.location,\n      posted_at: decide.posted_at,\n      ats_type: decide.ats_type,\n      application_mode: decide.application_mode,\n      fit_verdict: decide.fit_verdict,\n      fit_reason: decide.fit_reason,\n      fit_score: decide.fit_score,\n      resume_doc_url: decide.resume_doc_url,\n      cover_letter_url: decide.cover_letter_url,\n      application_status: 'drafted',\n      missing_fields: 'human_review_required',\n      approved_by: '',\n      last_attempt_at: now,\n      attempt_count: (Number(decide.attempt_count || 0) || 0) + 1,\n      error_last: '',\n      created_at: decide.created_at || now,\n      updated_at: now\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        580,
        160
      ],
      "id": "7788cc99-dd00-ee11-ff22-aa33bb44cc55",
      "name": "Finalize draft result"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "={{ $('Job Apply Config').item.json.spreadsheetId }}",
        "sheetName": "={{ $('Job Apply Config').item.json.sheetName }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "job_hash": "={{ $json.job_hash }}",
            "job_source": "={{ $json.job_source }}",
            "job_url": "={{ $json.job_url }}",
            "apply_url": "={{ $json.apply_url }}",
            "company": "={{ $json.company }}",
            "title": "={{ $json.title }}",
            "location": "={{ $json.location }}",
            "posted_at": "={{ $json.posted_at }}",
            "ats_type": "={{ $json.ats_type }}",
            "application_mode": "={{ $json.application_mode }}",
            "fit_verdict": "={{ $json.fit_verdict }}",
            "fit_reason": "={{ $json.fit_reason }}",
            "fit_score": "={{ $json.fit_score }}",
            "resume_doc_url": "={{ $json.resume_doc_url }}",
            "cover_letter_url": "={{ $json.cover_letter_url }}",
            "application_status": "={{ $json.application_status }}",
            "missing_fields": "={{ $json.missing_fields }}",
            "approved_by": "={{ $json.approved_by }}",
            "last_attempt_at": "={{ $json.last_attempt_at }}",
            "attempt_count": "={{ $json.attempt_count }}",
            "error_last": "={{ $json.error_last }}",
            "created_at": "={{ $json.created_at }}",
            "updated_at": "={{ $json.updated_at }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1020,
        0
      ],
      "id": "8899dd00-11ee-22ff-33aa-bb44cc55dd66",
      "name": "Append apply status to JobPipeline",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7OE0ZCwn0dn1HokX",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Job Apply Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Apply Config": {
      "main": [
        [
          {
            "node": "Read JobPipeline rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read JobPipeline rows": {
      "main": [
        [
          {
            "node": "Only fit_true_queued or approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only fit_true_queued or approved": {
      "main": [
        [
          {
            "node": "Split in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split in Batches": {
      "main": [
        [
          {
            "node": "Decide submit vs draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decide submit vs draft": {
      "main": [
        [
          {
            "node": "Action == submit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Action == draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action == submit": {
      "main": [
        [
          {
            "node": "rtrvr.ai submit (placeholder)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rtrvr.ai submit (placeholder)": {
      "main": [
        [
          {
            "node": "Finalize submit result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize submit result": {
      "main": [
        [
          {
            "node": "Append apply status to JobPipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action == draft": {
      "main": [
        [
          {
            "node": "Finalize draft result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize draft result": {
      "main": [
        [
          {
            "node": "Append apply status to JobPipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "70b1a1cd6dab4fbfba2a492bf6c64d8245f61277911aa7e0ed8b50ca709e8b1a"
  },
  "versionId": "c1d2e3f4-a5b6-4c7d-8e9f-0a1b2c3d4e5f",
  "id": "job-apply-template"
}

