workflows/job-automation.json
{
  "name": "job_application_automation",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        0
      ],
      "id": "906c8b69-e24b-4a58-8ae1-f66adc7bbcf2",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "06f5ecba-8b92-4016-96a5-8be9f2f33435",
              "name": "linkedinSearchUrl",
              "value": "https://www.linkedin.com/jobs/search?keywords=AI%20Internship&location=United%20States&geoId=103644278&f_E=1&f_TPR=&position=1&pageNum=0",
              "type": "string"
            },
            {
              "id": "bdb0f410-74a8-4d27-8f3f-34bb0b664c8d",
              "name": "resumeDocUrl",
              "value": "https://docs.google.com/document/d/REPLACE_ME/edit",
              "type": "string"
            },
            {
              "id": "3fd90f03-8b22-4c55-83c4-4b386e1e7b0a",
              "name": "personalEmail",
              "value": "REPLACE_ME",
              "type": "string"
            },
            {
              "id": "a5146d27-3b7a-4f0f-865b-2d8c9c7c7cbe",
              "name": "personalPhone",
              "value": "REPLACE_ME",
              "type": "string"
            },
            {
              "id": "f2c3586b-5d63-49b7-8d13-9957f14f1ae4",
              "name": "personalLinkedIn",
              "value": "https://www.linkedin.com/in/REPLACE_ME/",
              "type": "string"
            },
            {
              "id": "d9d1dd9e-9e2a-4a44-85f1-2cf5f0c7bfe6",
              "name": "personalCredentials",
              "value": "https://REPLACE_ME/",
              "type": "string"
            },
            {
              "id": "e0fa9b7c-9cda-4f4f-a9d0-ea98c21f0f04",
              "name": "personalGithub",
              "value": "https://github.com/REPLACE_ME",
              "type": "string"
            },
            {
              "id": "56c2be5f-98e2-4f8a-b0e9-2c85a0c6d4a9",
              "name": "personalSchoolGithub",
              "value": "https://github.com/REPLACE_ME",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        0
      ],
      "id": "98b553a6-143c-4ea3-afb0-31f94468ab91",
      "name": "Job Search URL"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "hKByXkMQaC5Qt9UMN",
          "mode": "list",
          "cachedResultName": "Linkedin Jobs Scraper (curious_coder/linkedin-jobs-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/hKByXkMQaC5Qt9UMN/input"
        },
        "customBody": "={\n    \"count\": 100,\n    \"scrapeCompany\": true,\n    \"splitByLocation\": false,\n    \"splitCountry\": \"US\",\n    \"urls\": [\n        \"{{ $json.linkedinSearchUrl }}\"\n    ]\n}",
        "timeout": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -192,
        0
      ],
      "id": "08fbe974-2f89-4e5f-8866-5e5a4e84aa72",
      "name": "Scrape Jobs",
      "credentials": {
        "apifyApi": {
          "id": "r6bC89saR90QIJSa",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('Job Search URL').item.json.resumeDocUrl }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        496,
        16
      ],
      "id": "906301aa-f7f5-4771-913a-358def7604e4",
      "name": "Get resume",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "gqGEp2UIXwb2kQM3",
          "name": "n8n connection with docs-drive"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://integrate.api.nvidia.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"qwen/qwen3-coder-480b-a35b-instruct\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a job relevance classifier. For each resume + job description, decide if the candidate is a good fit. Reply ONLY with a single JSON object of the form: {\\\"verdict\\\": true or false, \\\"reason\\\": \\\"short explanation\\\"}. No markdown, no extra text.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify(\n        \"##Overview\\nIm looking for jobs. Your task is to filter them based on a list of attributions and skills that I have. Some jobs may not be relevant, which is why I want you to go through each one of them and let me know whether or not i'm an OKAY fit.\\n\\n##Context\\nBelow is my resume\\n\" + $json.content + \"\\n\\n##Job Description\\n\" + $('Scrape Jobs').item.json.descriptionText + \"\\n\\nReturn ONLY JSON.\"\n      ) }}\n    }\n  ],\n  \"temperature\": 0.1,\n  \"top_p\": 0.8,\n  \"max_tokens\": 256,\n  \"stream\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        912,
        16
      ],
      "id": "3c3c9cea-707e-485d-a618-0ebfb11dbb12",
      "name": "HTTP Request",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "cktBRf5R1YBRHZod",
          "name": "OpenAi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const j = item.json;\n  \n  if (j.error) {\n    // Handle 429/error items gracefully\n    return {\n      json: {\n        ...j,\n        verdict: null,\n        reason: 'API rate limited - retry later',\n        rawModelOutput: null\n      }\n    };\n  }\n\n  const raw = j.choices[0].message.content;  // Correct path\n  let parsed;\n  \n  try {\n    parsed = JSON.parse(raw);\n  } catch (e) {\n    return {\n      json: {\n        ...j,\n        verdict: null,\n        reason: `Parse error: ${e.message}`,\n        rawModelOutput: raw\n      }\n    };\n  }\n\n  return {\n    json: {\n      ...j,\n      verdict: parsed.verdict,\n      reason: parsed.reason,\n      rawModelOutput: raw  // Keep for debugging\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        16
      ],
      "id": "bc30f111-41dd-4e33-a044-8a92a0d90124",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "folderId": "default",
        "title": "=Aryaman_resume_{{ $('Scrape Jobs').item.json.companyName }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1936,
        96
      ],
      "id": "157988c6-22d7-448e-9060-ba669f02fdf5",
      "name": "Create a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "gqGEp2UIXwb2kQM3",
          "name": "n8n connection with docs-drive"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c50bc56e-0c33-43aa-8991-534b37df971f",
              "leftValue": "={{ $json.descriptionText.toLowerCase() }}",
              "rightValue": "phd",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "214e7a9a-f094-415a-bdc7-debdd3e204dc",
              "leftValue": "={{ $json.descriptionText.toLowerCase() }}",
              "rightValue": "doctoral",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "124149b1-7356-4c65-8b33-689fe56ad44d",
              "leftValue": "={{ $json.descriptionText.toLowerCase() }}",
              "rightValue": "doctorate",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "a0412285-a3c4-4cfb-8db5-6ee6b94d8afd",
              "leftValue": "={{ $json.descriptionText.toLowerCase() }}",
              "rightValue": "us citizen",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "d702c402-5632-47e4-a089-db9ea62f8d20",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -16,
        -128
      ],
      "id": "430f5219-ad29-435b-b441-27bdf454f946",
      "name": "not PHDs"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "461d6aec-7c68-4d65-94fe-5e459db48bdf",
              "leftValue": "={{ $json.descriptionText.toLowerCase() }}",
              "rightValue": "internship",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "fb93ac17-d9f4-420f-ae5b-76b561e965f6",
              "leftValue": "={{ $json.descriptionText.toLowerCase() }}",
              "rightValue": "intern",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        160,
        -128
      ],
      "id": "312df337-272b-4ef8-b691-4d9b5ee4a266",
      "name": "intern"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "19e29f4e-3b7c-403b-826f-49210afa1285",
              "leftValue": "={{ $json.verdict }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1344,
        -80
      ],
      "id": "7750caad-5c2d-4af5-83dc-ed2558522ade",
      "name": "verdict = true"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "60d83354-f230-4af7-987c-9fdcbadc13ab",
              "leftValue": "={{ $json.verdict }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1344,
        96
      ],
      "id": "53f0f558-894e-4db9-8621-36942b22cae4",
      "name": "verdict = false"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://integrate.api.nvidia.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"qwen/qwen3-coder-480b-a35b-instruct\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a helpful, intelligent, expert resume writing assistant that drafts high converting resumes based on jobs. Given the candidate's existing resume and a job description, rewrite the resume to better highlight relevant skills and experience. This resume will be added to a Google Doc, so write it in HTML format that I can easily copy/paste. Do not output any backticks (no ```). Your first characters should be <html>. Never invent degrees, experience, or skills\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify(\n        \"##Overview\\nI'm looking for jobs. Your task is to customize a provided resume using a provided job description. \\n\\n\" + \"##Job Description\\n\" + $('Scrape Jobs').item.json.descriptionText + \"\\n\\n\" +\n        \"##My Current Resume\\n\" + $('Get resume').item.json.content + \"\\n\\n\" +\n        \"Respond only with the customized, updated resume in HTML format. No explanations, no markdown, no JSON.\"\n      ) }}\n    }\n  ],\n  \"temperature\": 0.3,\n  \"top_p\": 0.8,\n  \"max_tokens\": 4096,\n  \"stream\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1552,
        96
      ],
      "id": "4e32cdce-98bd-49ae-aa84-acb63202e900",
      "name": "HTTP Request to rewrite resume",
      "credentials": {
        "openAiApi": {
          "id": "cktBRf5R1YBRHZod",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://www.googleapis.com/upload/drive/v3/files/{{ $('Create a document').item.json.id }}?uploadType=media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\":\"text/html\"\n}",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/html",
        "body": "={{ $('Markdown').item.json.choices[0].message.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2112,
        96
      ],
      "id": "22682b75-afad-4f8f-81cb-80bc4257f662",
      "name": "Add resume text",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "gqGEp2UIXwb2kQM3",
          "name": "n8n connection with docs-drive"
        }
      }
    },
    {
      "parameters": {
        "html": "={{ $json.choices[0].message.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1744,
        96
      ],
      "id": "9e4c012d-c235-47e5-ab57-9c1941d24326",
      "name": "Markdown"
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('Job Search URL').item.json;\n\nconst personal = {\n  email: cfg.personalEmail || 'REPLACE_ME',\n  phone: cfg.personalPhone || 'REPLACE_ME',\n  linkedin: cfg.personalLinkedIn || 'https://www.linkedin.com/in/REPLACE_ME/',\n  credentials: cfg.personalCredentials || 'https://REPLACE_ME/',\n  github: cfg.personalGithub || 'https://github.com/REPLACE_ME',\n  schoolGithub: cfg.personalSchoolGithub || 'https://github.com/REPLACE_ME'\n};\n\nconst resumeHeader = [\n  `Email: ${personal.email}`,\n  `Phone: ${personal.phone}`,\n  `[LinkedIn](${personal.linkedin})`,\n  `[Credentials](${personal.credentials})`,\n  `[GitHub](${personal.github})`,\n  `[School GitHub](${personal.schoolGithub})`\n].join(' | ');\n\nreturn $input.all().map(item => ({\n  json: {\n    ...item.json,\n    resumeHeader\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        16
      ],
      "id": "911015f3-d128-4597-adb4-75df93a9e829",
      "name": "Merge resume link fields"
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        16
      ],
      "id": "1642d1af-e328-4741-b84a-acb6fbe57270",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1QCRWbi-OQvlWemGdLs5O21g7nwO9_6dMiZZLBXTNtPI",
          "mode": "list",
          "cachedResultName": "Jobs Tracker DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QCRWbi-OQvlWemGdLs5O21g7nwO9_6dMiZZLBXTNtPI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QCRWbi-OQvlWemGdLs5O21g7nwO9_6dMiZZLBXTNtPI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Job Post Link": "={{ $('Scrape Jobs').item.json.link }}",
            "Job Title": "={{ $('Scrape Jobs').item.json.title }}",
            "Posted At ": "={{ $('Scrape Jobs').item.json.postedAt }}",
            "Application URL": "={{ $('Scrape Jobs').item.json.applyUrl }}",
            "No Applicants": "={{ $('Scrape Jobs').item.json.applicantsCount }}",
            "Seniority Level": "={{ $('Scrape Jobs').item.json.seniorityLevel }}",
            "Company Website": "={{ $('Scrape Jobs').item.json.companyWebsite }}",
            "Company Name": "={{ $('Scrape Jobs').item.json.companyName }}",
            "Description ": "={{ $('Scrape Jobs').item.json.descriptionText }}",
            "Resume URL": "=https://docs.google.com/document/d/{{ $json.id }}/edit?pli=1&tab=t.0"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Job Post Link",
              "displayName": "Job Post Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Seniority Level",
              "displayName": "Seniority Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Posted At ",
              "displayName": "Posted At ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Website",
              "displayName": "Company Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description ",
              "displayName": "Description ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "No Applicants",
              "displayName": "No Applicants",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resume URL",
              "displayName": "Resume URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Application URL",
              "displayName": "Application URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2320,
        96
      ],
      "id": "a3d8aaa0-a391-45c0-8a2e-6aa67a227076",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7OE0ZCwn0dn1HokX",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1QCRWbi-OQvlWemGdLs5O21g7nwO9_6dMiZZLBXTNtPI",
          "mode": "list",
          "cachedResultName": "Jobs Tracker DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QCRWbi-OQvlWemGdLs5O21g7nwO9_6dMiZZLBXTNtPI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QCRWbi-OQvlWemGdLs5O21g7nwO9_6dMiZZLBXTNtPI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Job Post Link": "={{ $('Scrape Jobs').item.json.link }}",
            "Job Title": "={{ $('Scrape Jobs').item.json.title }}",
            "Posted At ": "={{ $('Scrape Jobs').item.json.postedAt }}",
            "Application URL": "={{ $('Scrape Jobs').item.json.applyUrl }}",
            "No Applicants": "={{ $('Scrape Jobs').item.json.applicantsCount }}",
            "Seniority Level": "={{ $('Scrape Jobs').item.json.seniorityLevel }}",
            "Company Website": "={{ $('Scrape Jobs').item.json.companyWebsite }}",
            "Company Name": "={{ $('Scrape Jobs').item.json.companyName }}",
            "Description ": "={{ $('Scrape Jobs').item.json.descriptionText }}",
            "Resume URL": "=https://docs.google.com/document/d/{{ $json.id }}/edit?pli=1&tab=t.0"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Job Post Link",
              "displayName": "Job Post Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Seniority Level",
              "displayName": "Seniority Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Posted At ",
              "displayName": "Posted At ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Website",
              "displayName": "Company Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description ",
              "displayName": "Description ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "No Applicants",
              "displayName": "No Applicants",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resume URL",
              "displayName": "Resume URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Application URL",
              "displayName": "Application URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1536,
        -80
      ],
      "id": "97e7eef3-39d9-42b2-9e17-d0585102bc06",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7OE0ZCwn0dn1HokX",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Job Search URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Search URL": {
      "main": [
        [
          {
            "node": "Scrape Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Jobs": {
      "main": [
        [
          {
            "node": "not PHDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get resume": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "verdict = true",
            "type": "main",
            "index": 0
          },
          {
            "node": "verdict = false",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "not PHDs": {
      "main": [
        [
          {
            "node": "intern",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "intern": {
      "main": [
        [
          {
            "node": "Merge resume link fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verdict = true": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verdict = false": {
      "main": [
        [
          {
            "node": "HTTP Request to rewrite resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request to rewrite resume": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document": {
      "main": [
        [
          {
            "node": "Add resume text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add resume text": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Create a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge resume link fields": {
      "main": [
        [
          {
            "node": "Get resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4349f233-4791-43c6-af7c-44fe8c89b0e7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "70b1a1cd6dab4fbfba2a492bf6c64d8245f61277911aa7e0ed8b50ca709e8b1a"
  },
  "id": "mxkeuZzqnoOqGwxg",
  "tags": []
}
