workflows/job-ingest.json
{
  "name": "job_ingest_pipeline",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -980,
        0
      ],
      "id": "6b6d7c6b-0e6c-4e2d-a5c8-7f2d2b8e8e18",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d6d1f6e0-1d1b-44c0-9c63-0f8d8b1fdd0b",
              "name": "spreadsheetId",
              "value": "1QCRWbi-OQvlWemGdLs5O21g7nwO9_6dMiZZLBXTNtPI",
              "type": "string"
            },
            {
              "id": "b8db7b8b-5db1-4c86-87c1-0ad3ad3d9b9d",
              "name": "sheetName",
              "value": "JobPipeline",
              "type": "string"
            },
            {
              "id": "5d1b6f2d-6b31-4c8f-a0b2-7b4a2c7f8b0c",
              "name": "linkedinSearchUrl",
              "value": "https://www.linkedin.com/jobs/search?keywords=AI%20Internship&location=United%20States&geoId=103644278&f_E=1&f_TPR=&position=1&pageNum=0",
              "type": "string"
            },
            {
              "id": "aa3f7b3a-9c8e-4c9a-9bb8-2e7c9aa7c9a1",
              "name": "speedyapplyReadmeUrl",
              "value": "https://raw.githubusercontent.com/speedyapply/2026-AI-College-Jobs/main/README.md",
              "type": "string"
            },
            {
              "id": "8f5c8d12-1b2c-4c8a-ae9a-3c4b2a7c9a0d",
              "name": "simplifyJobsReadmeUrl",
              "value": "https://raw.githubusercontent.com/SimplifyJobs/Summer2026-Internships/dev/README.md",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -780,
        0
      ],
      "id": "e2a8c0a7-6bcb-44c7-8b66-2f3b2a1f4c5e",
      "name": "Job Ingest Config"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "hKByXkMQaC5Qt9UMN",
          "mode": "list",
          "cachedResultName": "Linkedin Jobs Scraper (curious_coder/linkedin-jobs-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/hKByXkMQaC5Qt9UMN/input"
        },
        "customBody": "={\n  \"count\": 100,\n  \"scrapeCompany\": true,\n  \"splitByLocation\": false,\n  \"splitCountry\": \"US\",\n  \"urls\": [\n    \"{{ $json.linkedinSearchUrl }}\"\n  ]\n}",
        "timeout": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -560,
        -280
      ],
      "id": "8d7c4a1b-1f8f-4a2a-9c9d-1d2f3a4b5c6d",
      "name": "Scrape LinkedIn Jobs",
      "credentials": {
        "apifyApi": {
          "id": "r6bC89saR90QIJSa",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const j = $json;\n\nreturn [\n  {\n    json: {\n      job_source: 'linkedin_apify',\n      job_url: j.link || '',\n      apply_url: j.applyUrl || '',\n      company: j.companyName || '',\n      title: j.title || '',\n      location: j.location || j.locationText || '',\n      posted_at: j.postedAt || '',\n      ats_type: 'unknown',\n      application_mode: 'needs_review',\n      fit_verdict: '',\n      fit_reason: '',\n      fit_score: '',\n      resume_doc_url: '',\n      cover_letter_url: '',\n      application_status: 'new',\n      missing_fields: '',\n      approved_by: '',\n      last_attempt_at: '',\n      attempt_count: 0,\n      error_last: '',\n      created_at: new Date().toISOString(),\n      updated_at: new Date().toISOString()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        -280
      ],
      "id": "0f2a7c1c-9c3d-4f1b-a7e4-1b2c3d4e5f6a",
      "name": "Normalize LinkedIn Job"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.speedyapplyReadmeUrl }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -560,
        40
      ],
      "id": "7f6e5d4c-3b2a-1c0d-9e8f-7a6b5c4d3e2f",
      "name": "Fetch speedyapply README"
    },
    {
      "parameters": {
        "jsCode": "function extractText(input) {\n  if (typeof input === 'string') return input;\n  return input?.body ?? input?.data ?? input?.text ?? input?.content ?? '';\n}\n\nfunction parseMarkdownTable(text) {\n  const lines = String(text || '').split('\\n');\n  const jobs = [];\n\n  for (const rawLine of lines) {\n    const line = rawLine.trim();\n    if (!line.startsWith('|')) continue;\n    if (line.includes('---')) continue;\n    if (!/https?:\\/\\//i.test(line)) continue;\n\n    // Extract all URLs from markdown links in the row.\n    const urlMatches = [...line.matchAll(/\\((https?:\\/\\/[^)]+)\\)/g)].map(m => m[1]);\n    const urlFallback = [...line.matchAll(/(https?:\\/\\/[^\\s\\)]+)/g)].map(m => m[1]);\n    const apply_url = urlMatches[0] || urlFallback[0];\n    if (!apply_url) continue;\n\n    // Remove URLs, keep link labels: [label](url) -> label\n    const lineNoLinks = line.replace(/\\[([^\\]]+)\\]\\((https?:\\/\\/[^)]+)\\)/g, '$1');\n    const cells = lineNoLinks.split('|').map(c => c.trim()).filter(Boolean);\n\n    // Heuristic: choose title from likely role keywords, else second cell.\n    const roleRegex = /(intern|internship|engineer|scientist|analyst|developer|research|machine learning|ai|ml|natural language|genai|nlp|quant|data)/i;\n    let title = cells.find(c => roleRegex.test(c)) || cells[1] || cells[0] || '';\n\n    // Heuristic: company is the first non-title cell that doesn't look like a URL.\n    let company = cells.find((c, idx) => idx !== cells.indexOf(title) && !roleRegex.test(c)) || cells[0] || '';\n\n    // Location: first cell that mentions common regions/remote.\n    const locRegex = /(remote|united states|usa|canada|uk|europe|india|singapore|australia|new york|california|massachusetts|texas|boston|seattle)/i;\n    const location = cells.find(c => locRegex.test(c)) || '';\n\n    jobs.push({\n      job_url: apply_url,\n      apply_url,\n      company,\n      title,\n      location,\n      posted_at: '',\n      job_source: 'github_speedyapply'\n    });\n  }\n\n  return jobs;\n}\n\nconst text = extractText($json);\nconst jobs = parseMarkdownTable(text);\n\nreturn jobs.map(j => ({ json: j }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        40
      ],
      "id": "3c2b1a0d-9e8f-7a6b-5c4d-3e2f1a0b9c8d",
      "name": "Parse speedyapply markdown"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.simplifyJobsReadmeUrl }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -560,
        360
      ],
      "id": "1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d",
      "name": "Fetch SimplifyJobs README"
    },
    {
      "parameters": {
        "jsCode": "function extractText(input) {\n  if (typeof input === 'string') return input;\n  return input?.body ?? input?.data ?? input?.text ?? input?.content ?? '';\n}\n\nfunction parseMarkdownTable(text) {\n  const lines = String(text || '').split('\\n');\n  const jobs = [];\n\n  for (const rawLine of lines) {\n    const line = rawLine.trim();\n    if (!line.startsWith('|')) continue;\n    if (line.includes('---')) continue;\n    if (!/https?:\\/\\//i.test(line)) continue;\n\n    const urlMatches = [...line.matchAll(/\\((https?:\\/\\/[^)]+)\\)/g)].map(m => m[1]);\n    const urlFallback = [...line.matchAll(/(https?:\\/\\/[^\\s\\)]+)/g)].map(m => m[1]);\n    const apply_url = urlMatches[0] || urlFallback[0];\n    if (!apply_url) continue;\n\n    const lineNoLinks = line.replace(/\\[([^\\]]+)\\]\\((https?:\\/\\/[^)]+)\\)/g, '$1');\n    const cells = lineNoLinks.split('|').map(c => c.trim()).filter(Boolean);\n\n    const roleRegex = /(intern|internship|engineer|scientist|analyst|developer|research|machine learning|ai|ml|natural language|genai|nlp|quant|data)/i;\n    let title = cells.find(c => roleRegex.test(c)) || cells[1] || cells[0] || '';\n\n    // Company: first cell that isn't obviously a role/location.\n    const locRegex = /(remote|united states|usa|canada|uk|europe|india|singapore|australia|new york|california|massachusetts|texas|boston|seattle)/i;\n    const companyCandidates = cells.filter(c => !roleRegex.test(c) && !locRegex.test(c) && !/https?:\\/\\//i.test(c));\n    const company = companyCandidates[0] || cells[0] || '';\n\n    const location = cells.find(c => locRegex.test(c)) || '';\n\n    jobs.push({\n      job_url: apply_url,\n      apply_url,\n      company,\n      title,\n      location,\n      posted_at: '',\n      job_source: 'github_simplifyjobs'\n    });\n  }\n\n  return jobs;\n}\n\nconst text = extractText($json);\nconst jobs = parseMarkdownTable(text);\n\nreturn jobs.map(j => ({ json: j }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        360
      ],
      "id": "9d8c7b6a-5f4e-3d2c-1b0a-9f8e7d6c5b4a",
      "name": "Parse SimplifyJobs markdown"
    },
    {
      "parameters": {
        "jsCode": "// Simple hash function (no crypto module - disallowed in n8n cloud)\nfunction simpleHash(str) {\n  let hash = 0;\n  for (let i = 0; i < str.length; i++) {\n    const char = str.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash; // Convert to 32bit integer\n  }\n  // Convert to hex and pad to ensure consistent length\n  return Math.abs(hash).toString(16).padStart(8, '0');\n}\n\nfunction norm(s) {\n  return String(s || '').toLowerCase().trim();\n}\n\nconst now = new Date().toISOString();\nconst seen = new Set();\n\nconst out = [];\n\nfor (const item of items) {\n  const j = item.json || {};\n\n  const canonical = [\n    norm(j.apply_url || j.job_url),\n    norm(j.company),\n    norm(j.title)\n  ].join('|');\n\n  const job_hash = simpleHash(canonical);\n\n  if (seen.has(job_hash)) continue;\n  seen.add(job_hash);\n\n  out.push({\n    json: {\n      job_hash,\n      job_source: j.job_source || '',\n      job_url: j.job_url || '',\n      apply_url: j.apply_url || '',\n      company: j.company || '',\n      title: j.title || '',\n      location: j.location || '',\n      posted_at: j.posted_at || '',\n      ats_type: j.ats_type || 'unknown',\n      application_mode: j.application_mode || 'needs_review',\n      fit_verdict: j.fit_verdict ?? '',\n      fit_reason: j.fit_reason ?? '',\n      fit_score: j.fit_score ?? '',\n      resume_doc_url: j.resume_doc_url ?? '',\n      cover_letter_url: j.cover_letter_url ?? '',\n      application_status: j.application_status || 'new',\n      missing_fields: j.missing_fields || '',\n      approved_by: j.approved_by ?? '',\n      last_attempt_at: j.last_attempt_at ?? '',\n      attempt_count: typeof j.attempt_count === 'number' ? j.attempt_count : 0,\n      error_last: j.error_last ?? '',\n      created_at: j.created_at || now,\n      updated_at: now\n    }\n  });\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        60,
        140
      ],
      "id": "d7b6a5c4-3e2f-1a0b-9c8d-7e6f5a4b3c2d",
      "name": "Compute job_hash + finalize"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "1QCRWbi-OQvlWemGdLs5O21g7nwO9_6dMiZZLBXTNtPI",
        "sheetName": "JobPipeline",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "job_hash": "={{ $json.job_hash }}",
            "job_source": "={{ $json.job_source }}",
            "job_url": "={{ $json.job_url }}",
            "apply_url": "={{ $json.apply_url }}",
            "company": "={{ $json.company }}",
            "title": "={{ $json.title }}",
            "location": "={{ $json.location }}",
            "posted_at": "={{ $json.posted_at }}",
            "ats_type": "={{ $json.ats_type }}",
            "application_mode": "={{ $json.application_mode }}",
            "fit_verdict": "={{ $json.fit_verdict }}",
            "fit_reason": "={{ $json.fit_reason }}",
            "fit_score": "={{ $json.fit_score }}",
            "resume_doc_url": "={{ $json.resume_doc_url }}",
            "cover_letter_url": "={{ $json.cover_letter_url }}",
            "application_status": "={{ $json.application_status }}",
            "missing_fields": "={{ $json.missing_fields }}",
            "approved_by": "={{ $json.approved_by }}",
            "last_attempt_at": "={{ $json.last_attempt_at }}",
            "attempt_count": "={{ $json.attempt_count }}",
            "error_last": "={{ $json.error_last }}",
            "created_at": "={{ $json.created_at }}",
            "updated_at": "={{ $json.updated_at }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "job_hash",
              "displayName": "job_hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_source",
              "displayName": "job_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_url",
              "displayName": "job_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "apply_url",
              "displayName": "apply_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "posted_at",
              "displayName": "posted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ats_type",
              "displayName": "ats_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "application_mode",
              "displayName": "application_mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fit_verdict",
              "displayName": "fit_verdict",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fit_reason",
              "displayName": "fit_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fit_score",
              "displayName": "fit_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resume_doc_url",
              "displayName": "resume_doc_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cover_letter_url",
              "displayName": "cover_letter_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "application_status",
              "displayName": "application_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "missing_fields",
              "displayName": "missing_fields",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "approved_by",
              "displayName": "approved_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_attempt_at",
              "displayName": "last_attempt_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "attempt_count",
              "displayName": "attempt_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_last",
              "displayName": "error_last",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        320,
        140
      ],
      "id": "c1b2a3d4-e5f6-47a8-90bc-def123456789",
      "name": "Append to JobPipeline",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7OE0ZCwn0dn1HokX",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Job Ingest Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Ingest Config": {
      "main": [
        [
          {
            "node": "Scrape LinkedIn Jobs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch speedyapply README",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch SimplifyJobs README",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape LinkedIn Jobs": {
      "main": [
        [
          {
            "node": "Normalize LinkedIn Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize LinkedIn Job": {
      "main": [
        [
          {
            "node": "Compute job_hash + finalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch speedyapply README": {
      "main": [
        [
          {
            "node": "Parse speedyapply markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse speedyapply markdown": {
      "main": [
        [
          {
            "node": "Compute job_hash + finalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch SimplifyJobs README": {
      "main": [
        [
          {
            "node": "Parse SimplifyJobs markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse SimplifyJobs markdown": {
      "main": [
        [
          {
            "node": "Compute job_hash + finalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute job_hash + finalize": {
      "main": [
        [
          {
            "node": "Append to JobPipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "70b1a1cd6dab4fbfba2a492bf6c64d8245f61277911aa7e0ed8b50ca709e8b1a"
  },
  "versionId": "a2b3c4d5-e6f7-4889-9abc-def012345678",
  "id": "job-ingest-template"
}

